{% block header %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Congés</h1>
                <p class="lead">Les congés de moumoune</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#artt">ARTT</a>
                    <a class="list-group-item" href="#recup">Récupérations</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
